package script 

script AddEventListener() {
    document.addEventListener('alpine:init', () => {
        Alpine.store('root', {
            Name: "",
            Description: "",
            Arguments: [],
            Flags: [],
            Subcommands: [],
        })
    })
}
